{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MorningShop exam</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static "index.js"%}"></script>
</head>
<body>
    <h1>MorningShopExam</h1>

    <div>
        <h2> top 3 sellers<h2>
        <ol id="top3sellers"></ol>
    </div>

    <div>
        <h2>Customer-Order Retention Table (訂購人數)</h2>
        <div id="cohort_table"></div>
    </div>

    <div>
        <h2>Free shipping ratio</h2>
        <div id="shipping_free_chart"></div>
    </div>
</body>
</html>
